{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">

        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter a username">

        <label for="password1">Password</label>
        <input type="password" class="form-control" id="pasword1" name="password1" placeholder="Enter password">

        <label for="password2">Password again</label>
        <input type="password" class="form-control" id="pasword2" name="password2" placeholder="Confirm password">

    </div>
    <br>
    <button type="submit" class="btn btn-primary">Sign up</button>
</form>

{% endblock %}